langchain_groq
langchain
langchain_community
python-dotenv
flask
bs4
langchain_openai
faiss-cpu
flask_Cors
google-api-python-client 
google-auth
google-auth-httplib2
google-auth-oauthlib
mysql-connector